/***************************
********* Colors 🎨 ********
***************************/
$blanccasse: #F2F2F2;
$purple-ish: #6200EE;
$purple-ish-darker: #4700B0;
$bordeaux: #6D071A;

$white: white;
$black: #323130;

/***************************
******** Settings ⚙ ***!****
***************************/
// $menuWith: 230px;
